{% extends 'index.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h4>This is the about page</h4>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, tempore? Quisquam soluta aliquid blanditiis impedit aperiam repellendus officia amet libero rerum cupiditate temporibus laboriosam quo perspiciatis repellat velit est officiis, asperiores aspernatur molestiae nihil deserunt ab. Aliquid, molestias atque consectetur cupiditate corrupti, sunt exercitationem sit dolore nulla aut quam facilis?
{% endblock %}