{% extends 'index.html' %}

{% block title %}Career{% endblock %}

{% block content %}
<h3>This is the career page</h3>
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, harum! Quis repellat esse perferendis, quo ea corporis nostrum doloribus consequatur velit, quod facilis, aspernatur expedita modi iure quas maxime enim eum minima porro commodi beatae perspiciatis corrupti fugiat earum? Quo sequi, ducimus dicta esse necessitatibus libero harum nulla. Optio distinctio quae repellat perferendis repudiandae, quo, minus ducimus itaque ullam similique iste laborum amet asperiores id deserunt eius aperiam magni. Dolores quod libero itaque voluptatem non!

{% endblock %}