<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+QLD:wght@100..400&family=Tenor+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="header-wrapper">
                <h1>vinu</h1>
                <nav>
                        <a href="./about">About</a>
                        <a href="./career">Career</a>
                        <a href="./login">Sign_in</a>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}
    
    
    {% endblock %}
</body>
</html>