{% extends 'index.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="reg">
    <div>
        <form action="./register" method="post">
            <fieldset>
                <legend>Register</legend>
                <label for="user_name">User_name</label><br>
                <input type="text" id="user_name" name="user_name"><br><br>
                <label for="email">Email</label><br>
                <input type="email" id="email" name="email"><br><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password"><br><br>
                <label for="con_password">Confirm Password</label><br>
                <input type="password" id="con_password" name="con_password"><br><br>
                <button type="submit">Register</button>

                 <a href="{{url_for('get')}}" class="dts">Users_Details</a>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}